/* stylelint-disable no-missing-end-of-source-newline */
/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background: #3c3a39;
}

.top-navigation {
  width: 375px;
  height: 72px;
}

ul {
  list-style-type: none;
}

#navigation-name {
  color: #fff;
  text-decoration: none;
  margin-left: -24px;
  font-size: 18px;
  font-weight: 700;
  width: auto;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  position: absolute;
  align-self: center;
}

#humburger {
  margin-left: 320px;
  margin-top: 37px;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1a19;
  width: auto;
  padding: 24px;
}

.firstPart {
  height: 730px;
  background: url(pics/background.svg);
  background-repeat: no-repeat;
  background-position: right 267px;
  width: auto;
}

.firstPart h1 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  letter-spacing: 0.37px;
  line-height: 64px;
  font-size: 56px;
  font-weight: normal;
  margin-top: 100px;
}

.firstPart h2 {
  align-items: center;
  color: #fff5e1;
  font-size: 24px;
  font-weight: 700;
  margin-top: -24px;
}

.firstPart p {
  color: #fff;
  font-size: 19px;
  line-height: 24px;
  width: 327px;
  height: 123px;
  margin-bottom: 52px;
}

.firstSocialMedia {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.firstSocialMedia ul {
  display: flex;
  margin-left: -48px;
  margin-top: -48px;
}

.firstSocialMedia ul li {
  padding: 9px;
}

.projectIntro {
  display: grid;
}

.projectSection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projectSection h2 {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  margin-left: 24px;
  margin-top: 120px;
}

.topLine {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
}

.holder h3 {
  line-height: 44px;
  margin-left: 24px;
  color: #091e42;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
}

.holder img {
  border: 1px solid #212121;
  width: 327px;
  margin-left: 30px;
  margin-top: 80px;
}

.holder p {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin-left: 24px;
  margin-top: 0;
}

.projectTag {
  display: flex;
  position: static;
}

.projectTag ul {
  display: inherit;
  margin-left: -24px;
}

.projectTag li {
  color: #091e42;
  width: auto;
  height: max-content;
  border: 1px solid #8993a4;
  padding: 12px;
  margin: 10px;
}

.firstButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  justify-content: flex-start;
}

.firstButton button {
  font-size: 17px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: center;
  font-style: normal;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding-bottom: 12px;
  padding-left: 12px;
  font-weight: bold;
  height: 48px;
  margin-left: 24px;
  width: 124px;
  border: none;
}

.firstCard {
  background-image: url(pics/proff.png);
  margin-left: 24px;
  display: flex;
  max-width: 327px;
  max-height: 386px;
  flex-direction: column;
}

.firstCard h2 {
  font-style: normal;
  font-weight: normal;
  margin-left: 16px;
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  margin-top: 84px;
  font-size: 32px;
  line-height: 44px;
}

.firstCard p {
  width: 295px;
  height: 87px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  margin-top: 2px;
}

.secondTag {
  display: flex;
  flex-direction: row;
  max-width: 236px;
  max-height: 40px;
  margin-top: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.secondTag ul {
  display: inherit;
  margin-left: -12px;
  gap: 12px;
}

.secondTag li {
  align-self: center;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  width: auto;
  padding: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.secondButton button {
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  width: 327px;
  height: 48px;
  border: none;
}

.secondCard {
  display: flex;
  flex-direction: column;
  background-image: url(pics/proff.png);
  margin-left: 24px;
  max-width: 327px;
  max-height: 386px;
  margin-top: 60px;
}

.secondCard h2 {
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-left: 16px;
  margin-top: 84px;
}

.secondCard p {
  width: 295px;
  height: 87px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  margin-top: 2px;
}

.thirdTag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 12px;
  justify-content: center;
  max-width: 236px;
  max-height: 40px;
}

.thirdTag ul {
  display: inherit;
  gap: 12px;
}

.thirdTag li {
  align-self: center;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.24);
}

.thirdButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.thirdButton button {
  background: #ff6b00;
  color: #fff;
  width: 327px;
  height: 48px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  align-items: center;
  border: none;
}

.thirdCard {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 60px;
  max-width: 327px;
  max-height: 386px;
  background-image: url(pics/proff.png);
}

.thirdCard h2 {
  font-style: normal;
  font-weight: normal;
  margin-left: 16px;
  margin-top: 84px;
  font-size: 32px;
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  line-height: 44px;
}

.thirdCard p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  width: 295px;
  height: 87px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  font-style: normal;
  font-weight: normal;
  margin-top: 2px;
}

.fourthTag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 236px;
  max-height: 40px;
  margin-top: 12px;
}

.fourthTag ul {
  display: inherit;
  gap: 12px;
  margin-left: 12px;
}

.fourthTag li {
  padding: 12px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fourthButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.fourthButton button {
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  width: 327px;
  height: 48px;
  border: none;
}

.fourthCard {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 60px;
  max-width: 327px;
  max-height: 386px;
  background-image: url(pics/proff.png);
}

.fourthCard h2 {
  margin-left: 16px;
  margin-top: 84px;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Crete Round', sans-serif;
}

.fourthCard p {
  margin-left: 16px;
  margin-top: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  width: 295px;
  height: 87px;
  color: #fff;
}

.fifthTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  max-width: 236px;
  max-height: 40px;
}

.fifthTag ul {
  display: inherit;
  margin-left: 12px;
  gap: 10px;
}

.fifthTag li {
  color: #fff;
  align-self: center;
  background: rgba(255, 255, 255, 0.24);
  width: auto;
  padding: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fifthButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.fifthButton button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 24px;
  align-items: center;
  font-size: 17px;
  width: 327px;
  height: 48px;
  border: none;
  color: #fff;
  font-weight: bold;
  background: #ff6b00;
}

.fifthCard {
  display: flex;
  flex-direction: column;
  background-image: url(pics/proff.png);
  margin-left: 24px;
  max-width: 327px;
  max-height: 386px;
  margin-top: 60px;
}

.fifthCard h2 {
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-left: 16px;
  margin-top: 84px;
}

.fifthCard p {
  width: 295px;
  height: 87px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 2px;
}

.sixthTag {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  max-width: 236px;
  max-height: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.sixthTag ul {
  display: inherit;
  gap: 10px;
  margin-left: 12px;
}

.sixthTag li {
  align-self: center;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
}

.sixthButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.sixthButton button {
  background: #ff6b00;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  width: 327px;
  height: 48px;
  border: none;
}

.sixthCard {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 327px;
  max-height: 386px;
  margin-top: 60px;
  background-image: url(pics/proff.png);
}

.sixthCard h2 {
  line-height: 44px;
  margin-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  margin-top: 84px;
  color: #fff;
  font-family: 'Crete Round', sans-serif;
}

.sixthCard p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 24px;
  margin-left: 16px;
  margin-top: 2px;
  font-weight: normal;
  width: 295px;
  height: 87px;
  color: #fff;
  font-size: 16px;
}

.seventhTag {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  justify-content: center;
  max-width: 236px;
  max-height: 40px;
  flex-wrap: wrap;
}

.seventhTag ul {
  display: inherit;
  gap: 10px;
  margin-left: 12px;
}

.seventhTag li {
  align-self: center;
  color: #fff;
  width: auto;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.24);
}

.seventhButton {
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;
}

.seventhButton button {
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  width: 327px;
  height: 48px;
  border: none;
  line-height: 24px;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
}

.meSection {
  background: #1c1a19;
  display: grid;
  margin-top: 120px;
  width: 100%;
}

.partOne {
  display: flex;
  flex-direction: column;
  background: url(pics/mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 24px;
  width: 375px;
  height: 800px;
}

.partOne h2 {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.37px;
  margin-bottom: 0;
  margin-top: 120px;
}

.partOne p {
  color: #f4f5f7;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.partOne button {
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  height: 48px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: center;
  width: 161px;
  border: none;
}

.divider {
  border: 1px solid #fff;
  height: 0;
  width: 327px;
  margin-top: -260px;
}

.partTwo {
  background: #1c1a19;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 50px;
}

.partTwo img {
  height: 18px;
  margin-left: 50px;
  margin-top: -130px;
  width: 18px;
}

.partTwo h2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 12px;
  margin-left: 12px;
  margin-top: -130px;
}

.partTwo ul {
  margin-top: -80px;
  margin-left: 20px;
}

.partTwo ul li {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-style: normal;
  padding: 24px;
  font-weight: normal;
  line-height: 12px;
  vertical-align: middle;
}

.partThree {
  background: #1c1a19;
  margin-top: 0;
}

.partThree img {
  height: 18px;
  margin-left: 100px;
  margin-top: 36px;
  width: 18px;
}

.partThree h2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 36px;
  margin-left: 130px;
  margin-top: -20px;
}

.partThree ul {
  margin-left: 70px;
}

.partThree ul li {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  padding: 24px;
}

.partFour {
  background: #1c1a19;
  margin-top: 0;
}

.partFour img {
  margin-left: 110px;
  margin-top: 36px;
  width: 18px;
}

.partFour ul {
  margin-left: 80px;
}

.partFour h2 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 12px;
  margin-bottom: 36px;
  margin-left: 140px;
  margin-top: -20px;
}

.partFour li {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  padding: 24px;
}
